################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/curbsidehappyhour.com/config/applicationhost.config
/.vs/curbsidehappyhour.com/v16/.suo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
